<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
	 xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package Name="Gitea v1.21.3" Manufacturer="Gitea Installer, LLC" Version="$(Version)" UpgradeCode="308e5bd1-8075-453c-a8c3-e5da4bf24d4d">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

	<!-- EmbedCab: -->
	<MediaTemplate EmbedCab="yes" />

	  <Property Id="GITEAHOST"
				  Value="*"/>
	  <Property Id="GITEAPORT"
				Value="49240"/>
	  <Property Id="IS_EXISTS"
				Value="0" />
	  <Property Id="UPGRADE_SILENT"
				Value="0" />

	  <!--Service Account System-->
	  <Property Id="USELOCALSYSTEM"
				Value="Yes" />
	
	  <!--Setup Database-->
	  <Property Id="DATABASENAME" 
				Value="MSSQL" />
	 
	  <!--MSSQL Database property-->
	  <Property Id="MSSQLHOST"
				Value="127.0.0.1:3306" />
	  <Property Id="MSSQLUSERNAME"
				Value="gitea" />
	  <Property Id="MSSQLDATABASE"
				Value="gitea" />

	  <!--MYSQL Database property-->
	  <Property Id="MYSQLHOST"
				Value="127.0.0.1:1433" />
	  <Property Id="MYSQLUSERNAME"
				Value="gitea" />
	  <Property Id="MYSQLDATABASE"
				Value="gitea" />

	  <!--POSTGRESQL Database property-->
	  <Property Id="POSTGRESQLHOST"
		  Value="127.0.0.1:5432" />
	  <Property Id="POSTGRESQLUSERNAME"
		  Value="gitea" />
	  <Property Id="POSTGRESQLDATABASE"
		  Value="gitea" />
	  <Property Id="POSTGRESQLSCHEMA"
		  Value="public" />
	  <Property Id="POSTGRESQLSSL"
				Value="Disable" />

	  <!--SQLITE3 Database property-->
	  <Property Id="SQLITE3PATH"
				Value="C:\Program Files\Gitea v1.21.3\data\gitea.db" />
	  
	  
	  <!--Gitea Ports property-->
	  <Property Id="SETTILE"
				Value="Peregrine Repository Management" />
	  <Property Id="REPOROOTPATH"
				Value="C:\Program Files\Gitea v1.21.3\data\lfs" />
	  <Property Id="RUNASUSERNAME"
				Value="Admin" />
	  <Property Id="SERVERDOMAIN"
				Value="localhost" />
	  <Property Id="GITEALISTENPORT"
				Value="3000" />
	  <Property Id="GITEABASEURL"
				Value="http://localhost:3000/" />
	  <Property Id="LOGPATH"
				Value="C:\Program Files\Gitea v1.21.3\log" />

	  <!-- Custom Action Caling Sequence -->
	  <InstallUISequence>
		  <Show Dialog="CustomWelcomeDlg"
				Before="ProgressDlg"
				Condition="NOT Installed OR PATCH" />
		  <Show Dialog="CustomProgressDlg"
				After="ProgressDlg"
				Overridable="no"/>
		  <Show Dialog="GiteaPortDlg"
				After="ResumeDlg"
				Condition="Installed AND (RESUME OR Preselected)" />
	  </InstallUISequence>
	  
    <Feature Id="Main">
      <ComponentGroupRef Id="GiteaComponents" />
    </Feature>
	  
  </Package>
</Wix>
